/vendor/
/wp-core/
/wp-content/plugins/**
/wp-content/mu-plugins/**
/wp-content/themes/**
!/wp-content/index.php
!/wp-content/plugins/index.php
!/wp-content/mu-plugins/index.php
!/wp-content/themes/index.php
/wordpress/
*.swp
