<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # BEGIN WordPress
  RewriteRule ^$ wp-core/index.php [L]

  # Skip real files and directories
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Otherwise send it to WordPress
  RewriteRule .* wp-core/index.php [L]
  # END WordPress
</IfModule>
